<!-- Componente destinado ao formulário de preenchimento dos dados para gravar em Banco-->
<div class="card" style="width: 100%">
  <div class="card-header">
    <h2 class="card-title">Manutenção de Turno:</h2>
  </div>
  <div class="card-body">
    <div class="card-container">
      <div>
        <form [formGroup]="formTurno" (ngSubmit)="onSubmit()" class="example-form">
          <div style="display: none">
            <mat-form-field class="example-full-width">
              <mat-label>ID</mat-label>
              <input matInput  formControlName="turno_id">
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>Turno</mat-label>
            <input matInput placeholder="Ex. Vespertino..." formControlName="turno" required>
            <mat-error *ngIf="isFieldInvalid('turno')">
              Placa obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Inicio</mat-label>
            <input matInput placeholder="Ford 1530" formControlName="dtInicTurno">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Final</mat-label>
            <input matInput placeholder="Ex. 1980 " formControlName="dtFinalTurno">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Embarque</mat-label>
            <input matInput placeholder="Ex. 18 " formControlName="horarioEmbarque">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Desembarque</mat-label>
            <input matInput placeholder="Ex. 18 " formControlName="horarioDesembarque">
          </mat-form-field>
          <hr>
          <button mat-button type="submit" class="btn btn-primary">Salvar</button>
          <button mat-button class="btn btn-danger" (click)="delete(turno)">Deletar</button>
        </form>
      </div>
      <br>

      <div class="content">
        <h3 class="ui-table-thead"> Alunos Cadastrados</h3>
        <table mat-table [dataSource]="dataSource" class="table table-striped">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="Selecione">
            <th mat-header-cell *matHeaderCellDef scope="col">
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="CPF">
            <th mat-header-cell *matHeaderCellDef scope="col"> cpf </th>
            <td mat-cell *matCellDef="let aluno"> {{aluno.cpf}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef scope="col"> Nome </th>
            <td mat-cell *matCellDef="let aluno"> {{aluno.nome}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="telefone">
            <th mat-header-cell *matHeaderCellDef scope="col"> Telefone </th>
            <td mat-cell *matCellDef="let aluno"> {{aluno.telefone}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef scope="col"> Endereço </th>
            <td mat-cell *matCellDef="let aluno"> {{aluno.endereco}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="nascimento">
            <th mat-header-cell *matHeaderCellDef > Nascimento </th>
            <td mat-cell *matCellDef="let aluno"> {{aluno?.dataNascimento.toLocaleString()}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>
        <div>
          <button mat-button type="button" class="btn btn-primary" (click)="remover()">remover</button>
        </div>
      </div>
    </div>
  </div>
</div>

