<p>contatos works!</p>
<mat-card class="card">
  <div class="img-contatos">
 <mat-card class="cardContato">
      <li><a href="https://www.ifgoiano.edu.br/home/index.php/contato/5-if-goiano-campus-ceres-2.html">
        <img src="assets/img/contato.jpg"></a></li>
 </mat-card>
  </div>

  <div class="img-facebook">
  <mat-card class="cardContato"><li><a href="https://www.facebook.com/ifgoiano">
      <img src="assets/img/facebook.jpg"></a></li>
  </mat-card>
  </div>

  <div class="img-youtube">
    <mat-card class="cardContato"><li><a href="https://www.youtube.com/user/ifgoiano">
      <img src="assets/img/youtube1.png"></a></li>
    </mat-card>
  </div>

  <div class="img-instagram">
    <mat-card class="cardContato"><li><a href=" https://www.instagram.com/ifgoiano/">
      <img src="assets/img/instagram1.png"></a></li>
    </mat-card>
  </div>
  <!--

  https://www.instagram.com/ifgoiano/
      <li><a href="https://www.facebook.com/ifgoiano"><img src="assets/img/facebook.jpg"></a></li>
      <li><a href="https://www.youtube.com/user/ifgoiano"><img src="assets/img/youtub.png"></a></li>
-->

</mat-card>
