.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  left: 390px; /** jogando o conteúdo para a direita da pagina**/
}

.example-full-width {
  width: 100%;
  left: 390px; /** jogando o conteúdo para a direita da pagina**/
}
.login{
  left: 820px; /** jogando o conteúdo para a direita da pagina**/
}
