<mat-card  class="cardtitulo">
  <div class=" titulo ">
  Cadastrar Turnos e Períodos
  </div>
</mat-card >

<mat-tab-group>
  <mat-tab >
    <mat-card>Cadastrar turno
    <mat-card-content>
      <form [formGroup]="formTurno" (ngSubmit)="onSubmit()" class="example-form">
        <div style="display: none">
          <mat-form-field class="example-full-width">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id">
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width">
          <mat-label>Turno</mat-label>
          <input type="text" matInput placeholder formControlName="turno"
                 pattern="[a-zA-Z ]*" required >
          <mat-error *ngIf="isFieldInvalid('turno')">
            Turno obrigatório, use somente letras.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Inicio Turno</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="dtInicTurno">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Final Turno</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="dtFinalTurno">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Hora do Embarque </mat-label>
          <input matInput placeholder="07:00" formControlName="horarioEmbarque" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Hora do Desembarque</mat-label>
          <input matInput placeholder="12:30" formControlName="horarioDesembarque">
        </mat-form-field>

        <hr>
        <button mat-button type="submit" mat-raised-button color="primary">Salvar</button>
        <!--<button mat-raised-button color="primary">Login</button> -->

      </form>
    </mat-card-content>
    </mat-card>
<!--
  </mat-tab>
  <mat-tab label="Vespertino"> Vespertino
    <mat-card>Cadastrar turno

      <form [formGroup]="formTurno" (ngSubmit)="onSubmit()" class="example-form">
        <div style="display: none">
          <mat-form-field class="example-full-width">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id">
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width">
          <mat-label>Turno</mat-label>
          <input type="text" matInput placeholder formControlName="turno"
                 pattern="[a-zA-Z ]*" required>
          <mat-error *ngIf="isFieldInvalid('turno')">
            Turno obrigatório, use somente letras.
          </mat-error>
        </mat-form-field>

         <mat-form-field>
            <mat-label>Inicio Turno</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName="dtInicTurno">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>

                 <mat-form-field>
                   <mat-label>Final Turno</mat-label>
                   <input matInput [matDatepicker]="picker4" formControlName="dtFinalTurno">
                   <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                   <mat-datepicker #picker4></mat-datepicker>
                 </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Hora do Embarque</mat-label>
          <input matInput placeholder="13:00" formControlName="horarioEmbarque">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Hora do Desembarque</mat-label>
          <input matInput placeholder="18:30" formControlName="horarioDesembarque">
        </mat-form-field>

        <hr>
        <button mat-button type="submit" class="btn btn-primary">Salvar</button>

      </form>

    </mat-card>

  </mat-tab>
  <mat-tab label="Noturno"> Noturno

    <mat-card>Cadastrar turno

      <form [formGroup]="formTurno" (ngSubmit)="onSubmit()" class="example-form">
        <div style="display: none">
          <mat-form-field class="example-full-width">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id">
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width">
          <mat-label>Turno</mat-label>
          <input type="text" matInput placeholder formControlName="turno"
                 pattern="[a-zA-Z ]*" required>
          <mat-error *ngIf="isFieldInvalid('turno')">
            Turno obrigatório, use somente letras.
          </mat-error>
        </mat-form-field>

                 <mat-form-field>
                   <mat-label>Inicio Turno</mat-label>
                   <input matInput [matDatepicker]="picker5" formControlName="dtInicTurno">
                   <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                   <mat-datepicker #picker5></mat-datepicker>
                 </mat-form-field>

                         <mat-form-field>
                           <mat-label>Final Turno</mat-label>
                           <input matInput [matDatepicker]="picker6" formControlName="dtFinalTurno">
                           <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                           <mat-datepicker #picker6></mat-datepicker>
                         </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Hora do Embarque</mat-label>
          <input matInput placeholder="18:30" formControlName="horarioEmbarque">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Hora do Desembarque</mat-label>
          <input matInput placeholder="22:30" formControlName="horarioDesembarque">
        </mat-form-field>

        <hr>
        <button mat-button type="submit" class="btn btn-primary">Salvar</button>

      </form>

    </mat-card>-->

  </mat-tab>
</mat-tab-group>
