<!-- Formulário para destinada a carregar os dados de Turno -->

<div class="card" style="width: 100%">
  <div class="card-header">
    <h2 class="card-title">Turnos Cadastrados:</h2>
  </div>
  <div class="card-body">

    <table mat-table [dataSource]="dataSource" matSort class="tabelaTurno">

      <!-- Position Column -->
      <ng-container matColumnDef="Turno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Turno </th>
        <td mat-cell *matCellDef="let turno"> {{turno.turno}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Inicio">
        <th mat-header-cell *matHeaderCellDef >Data Inicial do Turno</th>
        <td mat-cell *matCellDef="let turno"> {{turno?.dtInicTurno.toLocaleString()}} </td>
      </ng-container>

      <ng-container matColumnDef="Final">
        <th mat-header-cell *matHeaderCellDef >Data Final do Turno</th>
        <td mat-cell *matCellDef="let turno"> {{turno?.dtFinalTurno.toLocaleString()}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Embarque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Horário de Embarque</th>
        <td mat-cell *matCellDef="let turno"> {{turno.horarioEmbarque}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Desembarque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Horário de Desembarque</th>
        <td mat-cell *matCellDef="let turno"> {{turno.horarioDesembarque}} </td>
      </ng-container>

      <ng-container matColumnDef="ações">
        <th mat-header-cell *matHeaderCellDef > Ações </th>
        <td mat-cell *matCellDef="let turno">
          <!--            <a [routerLink]="['/onibusEdit', onibus.placa.toString()]">-->
          <!--              <a routerLink="/onibusEdit" [queryParams]="onibus">-->
          <button mat-button type="button" class="btn btn-primary" (click)="editar(turno)">editar</button>
          <!--            </a>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <div>
    <a routerLink="/turnoDetalhe">
      <button mat-fab color="primary" >
        <mat-icon>add</mat-icon>
      </button>
    </a>


  </div>
</div>

