<!-- Formulário para destinada a carregar os dados de Veículos cadastrados -->

<div class="card" style="width: 100%">
  <div class="card-header">
    <h2 class="card-title">Listagem de Veículos:</h2>
  </div>
  <div class="card-body">

    <!-- Tabela a ser carregada em OnibusComponent-->
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped">

      <!-- Position Column -->
      <ng-container matColumnDef="Placa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Placa </th>
        <td mat-cell *matCellDef="let onibus"> {{onibus.placa}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Modelo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Modelo </th>
        <td mat-cell *matCellDef="let onibus"> {{onibus.modelo}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Ano">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ano </th>
        <td mat-cell *matCellDef="let onibus"> {{onibus.anoFabricacao}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Acentos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Acentos </th>
        <td mat-cell *matCellDef="let onibus"> {{onibus.qtdAcentos}} </td>
      </ng-container>

      <ng-container matColumnDef="Ações">
        <th mat-header-cell *matHeaderCellDef > Ações </th>
        <td mat-cell *matCellDef="let onibus">
          <!--            <a [routerLink]="['/onibusEdit', onibus.placa.toString()]">-->
          <!--              <a routerLink="/onibusEdit" [queryParams]="onibus">-->
          <button mat-button type="button" class="btn btn-primary" (click)="editar(onibus)">editar</button>
          <!--            </a>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <div>
    <a routerLink="/onibusDetalhe">
      <button mat-fab color="primary" >
        <mat-icon>add</mat-icon>
      </button>
    </a>


  </div>
</div>

