<div class="card">
  <div class="card-header">
    Listagem de Motoristas:
  </div>
  <div class="card-body">
    <div class="content">
      <table mat-table [dataSource]="dataSource" matSort class="table table-striped">

        <!-- Position Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Nome </th>
          <td mat-cell *matCellDef="let motorista"> {{motorista.nome}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> CPF </th>
          <td mat-cell *matCellDef="let motorista"> {{motorista.cpf}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Telefone </th>
          <td mat-cell *matCellDef="let motorista"> {{motorista.telefone}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="endereco">
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Endereço </th>
          <td mat-cell *matCellDef="let motorista"> {{motorista.endereco}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Ações">
          <th mat-header-cell *matHeaderCellDef > Ações </th>
          <td mat-cell *matCellDef="let motorista">
            <button mat-button class="btn btn-primary" (click)="editar(motorista)">Editar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

  </div>
  <div>
    <a routerLink="/motoristaDetalhe">
      <button mat-fab color="primary" >
        <mat-icon>add</mat-icon>
      </button>
    </a>
  </div>

</div>

